<div class="row justify-content-center">
  <div class="col-auto">
    <button
      class="btn btn-sm btn-outline-dark"
      placement="bottom"
      ngbTooltip="Reload Transactions"
      (click)="onReloadClick()"
    >
      <i *ngIf="!loading" class="fas fa-redo"></i>
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-lg align-center"
      ></span>
    </button>
  </div>
  <div class="col p-0">
    <h4>Transactions</h4>
  </div>
</div>
<table class="table table-sm table-striped table-hover table-responsive">
  <thead>
    <tr class="m-0">
      <!-- "scope" just tells browsers which cells the header is related to. It is not a bootstrap flex 'col' directive-->
      <th scope="col" class="d-none d-sm-table-cell w-25">Date</th>
      <th scope="col" class="d-table-cell d-sm-none">Date</th>
      <th scope="col" class="d-none d-sm-table-cell">Type</th>
      <th scope="col" class="d-none d-sm-table-cell">Bank</th>
      <th scope="col">Amount</th>
      <th scope="col" class="d-none d-sm-table-cell">Note</th>
      <th scope="col" style="width: 15%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let transaction of transactions"
      transaction-row
      [transaction]="transaction"
      [banks]="bankAccounts"
      [paymentTypes]="paymentTypes"
      (onTransactionDeleted)="transactionDeleted($event)"
      (onTransactionUpdated)="transactionUpdated($event)"
      (editRequested)="transactionEditRequested($event)"
      class="m-0"
    ></tr>
    <tr *ngIf="loading">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
