<table class="table table-sm table-striped table-hover table-responsive">
  <thead>
    <tr class="m-0">
      <!-- "scope" just tells browsers which cells the header is related to. It is not a bootstrap flex 'col' directive-->
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col">Bank</th>
      <th scope="col">Note</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let transaction of transactions$ | async"
      transaction-row
      [transaction]="transaction"
      class="m-0"
    ></tr>
    <tr *ngIf="!transactions$">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
