<th scope="row">{{ transaction.date }}</th>
<td>{{ transaction.amount }}</td>
<td>{{ getArrayMemberFromID(transaction.paymenttypeID,paymentTypes) }}</td>
<td>{{ getArrayMemberFromID(transaction.bankID,banks) }}</td>
<td>{{ transaction.note }}</td>
<td class="w-25">
  <button
    (click)="editTransaction($event)"
    class="btn btn-sm btn-primary mr-1"
    [disabled]="transaction.isUpdating"
    *ngIf="showButton(ButtonName.EDIT)"
  >
    <span
      *ngIf="transaction.isUpdating"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!transaction.isUpdating">Edit</span>
  </button>
  <button
    (click)="deleteMember($event)"
    class="btn btn-sm btn-danger btn-delete-transaction"
    [disabled]="transaction.isDeleting"
    *ngIf="showButton(ButtonName.DELETE)"
  >
    <span
      *ngIf="transaction.isDeleting"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!transaction.isDeleting">Delete</span>
  </button>
</td>
