<th scope="row" class="d-none d-sm-table-cell w-25">
  <div class="input-group col p-0 mb-1">
    <input
      class="form-control"
      ngbDatepicker
      #d1="ngbDatepicker"
      placement="bottom"
      [(ngModel)]="transaction.date"
      (ngModelChange)="onTransactionChange()"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        (click)="d1.toggle()"
        type="button"
      >
        <i class="far fa-calendar-alt"></i>
      </button>
    </div>
  </div>
</th>
<th scope="row" class="d-table-cell d-sm-none">
  {{ transaction.date }}
</th>
<td scope="row" class="d-table-cell d-sm-none">
  {{ transaction.amount | number: "1.2-2" }}
</td>
<td class="d-none d-sm-table-cell">
  <select
    id="paymentTypeSelect"
    name="paymentTypeSelect"
    class="form-control"
    [(ngModel)]="transaction.paymenttypeID"
    (change)="onTransactionChange()"
    (click)="onClickEvent($event)"
  >
    <option disabled selected [ngValue]="null">---- select ----</option>
    @for (pType of paymentTypes; track pType) {
      <option [ngValue]="pType.id">
        {{ pType.name }}
      </option>
    }
  </select>
</td>
<td class="d-none d-sm-table-cell">
  <select
    id="bankSelect"
    name="bankSelect"
    class="form-control"
    [(ngModel)]="transaction.bankID"
    (change)="onTransactionChange()"
    (click)="onClickEvent($event)"
  >
    <option disabled selected [ngValue]="null">-- select --</option>
    @for (bank of banks; track bank) {
      <option [ngValue]="bank.id">
        {{ bank.name }}
      </option>
    }
  </select>
</td>
<td class="d-none d-sm-table-cell">
  <input
    type="text"
    class="form-control text-right"
    [ngModel]="transaction.amount | number: '1.2-2'"
    (ngModelChange)="onTransactionAmountChange($event)"
  />
</td>
<td class="d-none d-sm-table-cell">
  <textarea
    rows="2"
    cols="25"
    [(ngModel)]="transaction.note"
    (ngModelChange)="onTransactionNoteChange()"
    (click)="onClickEvent($event)"
  >
  </textarea>
</td>
<td style="width: 15%">
  @if (user.isAdmin && showSaveButton) {
    <button
      (click)="onTransactionChange()"
      class="btn btn-sm btn-info mr-1 mb-1"
      [disabled]="transaction.isUpdating"
    >
      @if (transaction.isUpdating) {
        <span class="spinner-border spinner-border-sm"></span>
      }
      @if (!transaction.isUpdating) {
        <span>Save</span>
      }
    </button>
  }
  @if (user.isAdmin && showSaveButton) {
    <button
      (click)="onTransactionUpdated.emit(this.transaction)"
      class="btn btn-sm btn-info mr-1 mb-1"
      [disabled]="transaction.isUpdating"
    >
      @if (transaction.isUpdating) {
        <span class="spinner-border spinner-border-sm"></span>
      }
      @if (!transaction.isUpdating) {
        <span>Undo</span>
      }
    </button>
  }
  @if (user.isAdmin) {
    <button
      (click)="editTransaction($event)"
      class="btn btn-sm btn-primary mr-1 mb-1"
      [disabled]="transaction.isUpdating"
    >
      @if (transaction.isUpdating) {
        <span class="spinner-border spinner-border-sm"></span>
      }
      @if (!transaction.isUpdating) {
        <span>Edit</span>
      }
    </button>
  }
  @if (user.isAdmin) {
    <button
      (click)="onTransactionDelete()"
      class="btn btn-sm btn-danger btn-delete-transaction mb-1"
      [disabled]="transaction.isDeleting"
    >
      @if (transaction.isDeleting) {
        <span class="spinner-border spinner-border-sm"></span>
      }
      @if (!transaction.isDeleting) {
        <span>Delete</span>
      }
    </button>
  }
</td>
