<div class="row justify-content-between align-items-start">
    <div class="col">
        <h1>Subscriptions</h1>
      </div>
    <div class="col-auto">
        <button (click)="goBack()" class="btn btn-outline-dark">&times;</button>
    </div>

  </div>
<div class="row mb-3">
  <div class="col-sm-7">
    <div class="card"><transaction-add-edit></transaction-add-edit></div>
  </div>
  <div class="col-sm-5">
    <div class="card"><transaction-add-edit></transaction-add-edit></div>
  </div>
</div>

<transaction-list
  [transactions]="transactions"
  (reloadRequested)="onReloadRequested($event)"
  (loading)="loading"
></transaction-list>
