<h1>Subscription Manager</h1>

<transaction-list [member]="member$ | async"></transaction-list>



<h5> TODO </h5>

<p>This page will allow management of each member's subscription information</p>
<p>You will have the ability to edit the following:</p>
<ul>
    <li>Read/add/edit Transactions</li>
    <li>Set/unset 'post on hold' to retain the physical address on file but only send meterials by email.</li>
    <li>Edit annual membership fee</li>
    <li>Edit number of members e.g. for 'Residence' member types</li>  
    <li>Record date of reminder email</li>  
    <li>[Eventually] send customised reminder emails to member</li>
<ul>

<br/>

<button (click)="goBack()" class="btn btn-sm btn-secondary">
    Go Back
  </button>
