<div class="modal-header">
  <h5 class="modal-title" id="modal-title">Reminder Email</h5>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="col input-group mb-1">
      <span class="input-group-text col-2" id="from-label">From</span>
      <input
        id="fromInput"
        name="fromInput"
        type="text"
        class="form-control text-left col-6"
        formControlName="from"
        [ngClass]="{ 'is-invalid': submitted && f.from.errors }"
      />
      <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
        <div *ngIf="f.from.errors.required">
          Must enter 'From:' email address
        </div>
        <div *ngIf="f.from.errors.email">Enter a valid email address</div>
      </div>
    </div>
    <div class="row">
      <div class="col input-group mb-1 ml-3">
        <span class="input-group-text col-4" id="fromName-label">Name</span>
        <input
          id="fromNameInput"
          name="fromNameInput"
          type="text"
          class="form-control text-left col-6"
          formControlName="fromName"
          [ngClass]="{ 'is-invalid': submitted && f.fromName.errors }"
        />
        <div *ngIf="submitted && f.fromName.errors" class="invalid-feedback">
          <div *ngIf="f.fromName.errors.required">
            Must enter a name for the signature area of the email
          </div>
        </div>
      </div>
      <div class="col input-group mb-1">
        <span class="input-group-text col-4" id="fromTitle-label">Title</span>
        <input
          id="fromTitleInput"
          name="fromTitleInput"
          type="text"
          class="form-control text-left col-6"
          formControlName="fromTitle"
          [ngClass]="{ 'is-invalid': submitted && f.fromTitle.errors }"
        />
        <div *ngIf="submitted && f.fromTitle.errors" class="invalid-feedback">
          <div *ngIf="f.fromTitle.errors.required">
            Must enter a title for the signature area of the email
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="col input-group mb-1">
      <span class="input-group-text col-2" id="to-label">To</span>
      <input
        id="toInput"
        name="toInput"
        type="text"
        class="form-control text-left col-6"
        formControlName="to"
        [ngClass]="{ 'is-invalid': submitted && f.to.errors }"
      />
      <div *ngIf="submitted && f.to.errors" class="invalid-feedback">
        <div *ngIf="f.to.errors.required">Must enter 'To:' email address</div>
        <div *ngIf="f.to.errors.email">Enter a valid email address</div>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-1">
        <span class="input-group-text col-2" id="salutation-label"
          >Salutation</span
        >
        <input
          id="salutationInput"
          name="salutationInput"
          type="text"
          class="form-control text-left col-6"
          formControlName="salutation"
          [ngClass]="{ 'is-invalid': submitted && f.salutation.errors }"
        />
        <div *ngIf="submitted && f.salutation.errors" class="invalid-feedback">
          <div *ngIf="f.to.salutation.required">Must enter a salutation</div>
        </div>
      </div>
    </div>

    <div *ngIf="true">
      <!--Debug Information for Testing -->
      <hr />
      <p>Form Value: {{ form.value | json }}</p>
      <p>Form Status: {{ form.status | json }}</p>
      <hr />
    </div>
    <button type="button" class="btn btn-primary">Prepare Email</button>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="modal.close('Ok click')"
  >
    Send
  </button>
</div>
