<th scope="row" class="d-none d-sm-table-cell">
  {{ member.name }}<br /><span *ngIf="member.businessname"
    >({{ member.businessname }})</span
  >
</th>
<th scope="row" class="d-sm-none">
  {{ member.name }}<br /><span *ngIf="member.businessname"
    >({{ member.businessname }})<br /></span
  >- {{ member.membershiptype }} -
  <br />
  {{ member.addressfirstline }}<br />
  {{ member.addresssecondline }}<br *ngIf="member.addresssecondline" />
  {{ member.postcode }}
</th>
<td class="d-none d-sm-table-cell">{{ member.membershiptype }}</td>
<td class="text-center" class="d-none d-sm-table-cell">
  <div>
    <div class="form-check" *ngIf="member.email">
      <input
        class="form-check-input"
        type="checkbox"
        checked
        disabled
      />
    </div>
    <div class="form-check" *ngIf="!member.email">
      <input
        class="form-check-input"
        type="checkbox"
        disabled
      />
    </div>
  </div>
</td>
<td class="text-center" class="d-none d-sm-table-cell">
  <div>
    <div class="form-check" *ngIf="member.postonhold">
      <input
        class="form-check-input"
        type="checkbox"
        checked
        disabled
      />
    </div>
    <div class="form-check" *ngIf="!member.postonhold">
      <input
        class="form-check-input"
        type="checkbox"
        disabled
      />
    </div>
  </div>
</td>
<td class="w-15 d-none d-sm-table-cell">
  <small
    >{{ member.lasttransactiondate }}<br />{{ member.paymenttype }}<br />{{
      member.bankaccount
    }}</small
  >
</td>
<td class="d-none d-sm-table-cell w-25">
  <small
    >{{ member.addressfirstline }}<br />
    {{ member.addresssecondline === "" ? "" : member.addresssecondline
    }}<br *ngIf="member.addresssecondline" />
    {{ member.city }}, {{ member.postcode }}</small
  >
</td>
<td class="w-25">
  <button
    (click)="addTransaction($event)"
    class="btn btn-sm btn-success mr-1 mb-1"
    *ngIf="showButton(ButtonName.ADDTX)"
  >
    <span>Add Pmt</span>
  </button>
  <button
    routerLink="/members/edit/{{ member.id }}"
    class="btn btn-sm btn-primary mr-1 mb-1"
    [disabled]="member.isUpdating"
  >
    Member Details
  </button>
  <button
    routerLink="/members/manage/{{ member.id }}"
    class="btn btn-sm btn-info mr-1 mb-1"
    [disabled]="member.isUpdating"
  >
    <span>Subscription</span>
  </button>
  <button
    routerLink="/members/transactions/{{ member.id }}"
    class="btn btn-sm btn-secondary mr-1 mb-1"
    [disabled]="member.isUpdating"
  >
    <span>Payments</span>
  </button>
  <button
    (click)="anonymizeMember($event)"
    class="btn btn-sm btn-warning mr-1 mb-1"
    [disabled]="member.isUpdating"
    *ngIf="showButton(ButtonName.ANONYMIZE)"
  >
    <span
      *ngIf="member.isUpdating"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!member.isUpdating">Anonymize</span>
  </button>
  <button
    (click)="setToFormer($event)"
    class="btn btn-sm btn-warning mr-1 mb-1"
    [disabled]="member.isUpdating"
    *ngIf="showButton(ButtonName.SETTOFORMER)"
  >
    <span
      *ngIf="member.isUpdating"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!member.isUpdating">Set To Former</span>
  </button>
  <button
    (click)="deleteMember($event)"
    class="btn btn-sm btn-danger btn-delete-member mb-1"
    [disabled]="member.isDeleting"
    *ngIf="showButton(ButtonName.DELETE)"
  >
    <span
      *ngIf="member.isDeleting"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!member.isDeleting">{{ deleteButtonLabel() }}</span>
  </button>
</td>
