<th scope="row">{{ member.name }}</th>
<td>{{ member.membershiptype }}</td>
<td class="d-none d-sm-table-cell">{{ member.businessname }}</td>
<td class="text-center" class="d-none d-sm-table-cell">
  <div>
    <div class="form-check" *ngIf="member.email">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexCheckCheckedDisabled"
        checked
        disabled
      />
    </div>
    <div class="form-check" *ngIf="!member.email">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexCheckDisabled"
        disabled
      />
    </div>
  </div>
</td>
<td class="w-15 d-none d-sm-table-cell"><small>{{ member.lasttransactiondate }}<br />{{member.paymentmethod}}</small></td>
<td class="d-none d-sm-table-cell w-25">
  <small
    >{{ member.addressfirstline }}<br />
    {{ member.addresssecondline===''?'':member.addresssecondline }}<br *ngIf="member.addresssecondline"/>
    {{ member.city }}, {{ member.postcode }}</small
  >
</td>
<td class="w-25">
  <button class="btn btn-sm btn-success mr-1">
    <span
      *ngIf="member.isUpdating"
      class="spinner-border spinner-border-sm"
    ></span>
    <span>Add Tx</span>
  </button>
  <button
    routerLink="edit/{{ member.id }}"
    class="btn btn-sm btn-primary mr-1"
    [disabled]="member.isUpdating"
  >
    <span
      *ngIf="member.isUpdating"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!member.isUpdating">Edit</span>
  </button>
  <button
    routerLink="manage/{{ member.id }}"
    class="btn btn-sm btn-info mr-1"
    [disabled]="member.isUpdating"
  >
    <span
      *ngIf="member.isUpdating"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!member.isUpdating">Manage</span>
  </button>
  <button
    (click)="deleteMember($event)"
    class="btn btn-sm btn-danger btn-delete-member"
    [disabled]="member.isDeleting"
  >
    <span
      *ngIf="member.isDeleting"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!member.isDeleting">{{
      member.membershiptype === "Pending" ? "Delete" : "Set To Former"
    }}</span>
  </button>
</td>
