<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>
        <p class="mb-1">All users from secure (admin only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.fullname}} ({{user.username}})</li>
        </ul>
    </div>
</div>

<address-search (address)="onUpddatedAddress($event)"></address-search>

<form #myForm="ngForm"
(ngSubmit)="onSubmit(myForm.value)"
class="ui form">

<div class="field">
<label for="productNameInput">Product Name</label>
<input type="text"
     id="productNameInput"
     placeholder="Product Name"
     name="productName"
     [ngModel]="productName"
     (ngModelChange)="onProductChange($event)">
</div>

<div *ngIf="!myForm.valid"
class="ui error message">Form is invalid</div>
<button type="submit" class="ui button">Submit</button>
</form>

<select [(ngModel)]="selectedUser" (ngModelChange)="onUserChange($event)" name="selectedUser">
    <option *ngFor="let user of users" [ngValue]="user">
        {{user.username}}
    </option>
</select>

<p>{{address | json}}</p>
