<form [formGroup]="form">
  <!--This is a Reactive property-->
  <div class="row justify-content-start">
    <div class="col-sm-6 mb-2">
      <div class="row">
        <div class="col-sm-8">
          <member-search-box (loading)="(loading)"></member-search-box>
        </div>
      </div>
    </div>
  </div>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Filter">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <button ngbPanelToggle class="btn btn-link p-0">Filter</button>
          <div class="row justify-content-end mb-2 mr-2">
            <div class="col">
              <a class="btn btn-link" (click)="onReset()">Reset</a>
            </div>
            <div class="col">
              <a class="btn btn-link"><i class="fas fa-cog"></i></a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-sm-4 mb-1">
            <div class="input-group mb-1">
              <span class="input-group-text col-4" id="status-label">Type</span>
              <select
                formControlName="statusID"
                id="statusSelect"
                name="statusSelect"
                class="form-control"
              >
                <option
                  *ngFor="let status of membershipStatuses$ | async"
                  [ngValue]="status.id"
                >
                  {{ status.name }}
                </option>
              </select>
            </div>
          </div><!--End of Member Type seelect-->
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="First line of Address"
                autofocus
              />
            </div>
          </div>  <!-- End of 1st line of address -->        
          <div class="col-sm-4 mb-1">
            <div class="input-group mb-1">
              <span class="input-group-text col-4" id="country-label"
                >Country</span
              >
              <select
                formControlName="countryID"
                id="countrySelect"
                name="countrySelect"
                class="form-control"
              >
                <option
                  *ngFor="let country of countries$ | async"
                  [ngValue]="country.id"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>
          </div><!-- End of country select-->

          <div class="w-100"><hr /></div>
          <div class="col-sm">Date Range Component</div>
          <div class="w-100"><hr /></div>
          <div class="col-sm-4">Payment Method</div>
          <div class="col-sm-4 mb-1">
            <div class="input-group mb-1">
              <span class="input-group-text col-5" id="email-label"
                >Have Email?</span
              >
              <div class="card p-2 col-7">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="email_yes"
                    formControlName="hasEmail"
                    [value]="YesNoAny.YES"
                  />
                  <label class="form-check-label" for="email_yes"> Yes </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="email_no"
                    formControlName="hasEmail"
                    [value]="YesNoAny.NO"
                  />
                  <label class="form-check-label" for="email_no"> No </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="email_any"
                    formControlName="hasEmail"
                    [value]="YesNoAny.ANY"
                    checked
                  />
                  <label class="form-check-label" for="email_any"> Any </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 mb-1">
            <div class="input-group mb-1">
              <span class="input-group-text col-5" id="postonhold-label"
                >Post On Hold</span
              >
              <div class="card p-2 col-7">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="postonholdyes"
                    formControlName="postOnHold"
                    [value]="YesNoAny.YES"
                  />
                  <label class="form-check-label" for="postonholdyes">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="postonholdno"
                    formControlName="postOnHold"
                    [value]="YesNoAny.NO"
                  />
                  <label class="form-check-label" for="postonholdno">
                    No
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="postonholdany"
                    formControlName="postOnHold"
                    [value]="YesNoAny.ANY"
                    checked
                  />
                  <label class="form-check-label" for="postonholdany">
                    Any
                  </label>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <!-- End of Row-->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div>
    <p>Form Value: {{ form.value | json }}</p>
    <p>Filter: {{ filter }}</p>
  </div>
</form>
