<!--'[formGroup]' is a Reactive forms property-->
<form [formGroup]="form">
  <div class="row justify-content-start">
    <div class="col-sm-6 mb-2">
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="member-search-addon1"
                ><i class="fas fa-search"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Surname or Business Name"
              formControlName="businessorsurname"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">-->
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Filter">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <button ngbPanelToggle class="btn btn-link p-0">Filter</button>
          <div class="row justify-content-end mb-2 mr-2">
            <div class="col">
              <a class="btn btn-link" (click)="onReset()">Reset</a>
            </div>
            <div class="col" *ngIf="false"><!-- Hide it for now -->
              <div ngbDropdown container="body">
                <a class="btn btn-link" id="filterSettings" ngbDropdownToggle
                  ><i class="fas fa-cog"></i
                ></a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Duplicate</button>
                  <button ngbDropdownItem>Move</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text col-4" id="status-label">Type</span>
              <select
                formControlName="membertypeid"
                id="statusSelect"
                name="statusSelect"
                class="form-control"
              >
                <option
                  *ngFor="let status of membershipStatuses$ | async"
                  [ngValue]="status.id"
                >
                  {{ status.name }}
                </option>
              </select>
            </div>
          </div>
          <!--End of Member Type seelect-->
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="address-label"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search Primary Address"
                id="addressInput"
                name="addressInput"
                formControlName="address"
              />
            </div>
          </div>
          <!-- End of 1st line of address -->
          <div class="col-sm-4 mb-1">
            <div class="input-group mb-1">
              <span class="input-group-text col-4" id="country-label"
                >Country</span
              >
              <select
                formControlName="countryid"
                id="countrySelect"
                name="countrySelect"
                class="form-control"
              >
                <option
                  *ngFor="let country of countries$ | async"
                  [ngValue]="country.id"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>
          </div>
          <!-- End of country select-->
        </div>

        <div class="w-100"><hr /></div>
        <!-- Divider -->

        <div class="row">
          <div class="col-sm-4">
            <div class="input-group mb-1">
              <span class="input-group-text col-6" id="removed-label"
                >Past Members?</span
              >
              <div class="card p-2 col-6">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="removed_yes"
                    formControlName="removed"
                    [value]="YesNoAny.YES"
                  />
                  <label class="form-check-label" for="removed_yes">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="removed_no"
                    formControlName="removed"
                    [value]="YesNoAny.NO"
                  />
                  <label class="form-check-label" for="removed_no"> No </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="removed_any"
                    formControlName="removed"
                    [value]="YesNoAny.ANY"
                    checked
                  />
                  <label class="form-check-label" for="removed_any">
                    Either
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-1">
            <div class="input-group mb-1">
              <span class="input-group-text col-5" id="email-label"
                >Have Email?</span
              >
              <div class="card p-2 col-7">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="email_yes"
                    formControlName="email1"
                    [value]="YesNoAny.YES"
                  />
                  <label class="form-check-label" for="email_yes"> Yes </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="email_no"
                    formControlName="email1"
                    [value]="YesNoAny.NO"
                  />
                  <label class="form-check-label" for="email_no"> No </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="email_any"
                    formControlName="email1"
                    [value]="YesNoAny.ANY"
                    checked
                  />
                  <label class="form-check-label" for="email_any"> Any </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 mb-1">
            <div class="input-group mb-1">
              <span class="input-group-text col-5" id="postonhold-label"
                >Post On Hold</span
              >
              <div class="card p-2 col-7">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="postonholdyes"
                    formControlName="postonhold"
                    [value]="YesNoAny.YES"
                  />
                  <label class="form-check-label" for="postonholdyes">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="postonholdno"
                    formControlName="postonhold"
                    [value]="YesNoAny.NO"
                  />
                  <label class="form-check-label" for="postonholdno">
                    No
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="postonholdany"
                    formControlName="postonhold"
                    [value]="YesNoAny.ANY"
                    checked
                  />
                  <label class="form-check-label" for="postonholdany">
                    Any
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Row-->
        </div>

        <div class="w-100"><hr /></div>
        <!-- Divider -->

        <!-- array of Date range filters -->
        <div
          *ngFor="let date of dateRangesFormGroups; let i = index"
          class="list-group list-group-flush col"
        >
          <div [formGroup]="date" class="form-row">
            <div class="row">
              <div class="col-sm-auto ml-4 p-2">Members</div>
              <div class="col-sm-auto">
                <div class="input-group col p-0 mb-1">
                  <select formControlName="dateType" class="form-control">
                    <option value="Date Type"></option>
                    <option value="joindate">Joining</option>
                    <option value="expirydate">Expiring</option>
                    <option value="updatedate">Updated</option>
                    <option value="reminderdate">Reminder send</option>
                    <option value="lasttransactiondate">
                      With Last Transaction
                    </option>
                    <option value="deletedate">Deleted</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-auto pl-2 pt-2">between</div>
            <div class="col-sm-auto">
              <div class="input-group col p-0 mb-1">
                <input
                  class="form-control"
                  placeholder="Start"
                  name="dp1"
                  ngbDatepicker
                  #d1="ngbDatepicker"
                  formControlName="startDate"
                  id="inputStartDate"
                  placement="top"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="d1.toggle()"
                    type="button"
                  >
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-auto pl-2 pt-2">and</div>
            <div class="col-sm-auto">
              <div class="input-group col p-0 mb-1">
                <input
                  class="form-control"
                  placeholder="End"
                  name="dp2"
                  ngbDatepicker
                  #d2="ngbDatepicker"
                  formControlName="endDate"
                  id="inputEndDate"
                  placement="top"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="d2.toggle()"
                    type="button"
                  >
                    <i class="far fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <!-- Dates buttons -->
            <div class="col-sm-1 mt-1 mr-1">
              <button
                type="button"
                class="mr-3"
                (click)="onAddDateRange()"
                placement="bottom"
                ngbTooltip="Add new date filter"
              >
                +
              </button>
              <button
                *ngIf="i !== 0"
                type="button"
                class="close"
                (click)="onRemoveDateRange(i)"
                placement="bottom"
                ngbTooltip="Remove date filter"
              >
                <span>&times;</span>
              </button>
            </div>
            <!-- End of Dates buttons -->
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div *ngIf="false">
    <p>Form Value: {{ form.value | json }}</p>
    <p>Form Status: {{ form.status }}</p>
    <p>Filter: {{ filter$ | async | json }}</p>
  </div>
</form>
