<h1 *ngIf="isMemberAdd">Add Member</h1>
<h1 *ngIf="isMemberEdit">Edit Member</h1>
<div *ngIf="loading">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loading">
  <small *ngIf="f.username.value">Last edited by: {{f.username.value}} at {{f.updatedate.value}}</small>
  <div class="row">
    <div class="col-sm-6 mb-1">
      <div class="input-group mb-1">
        <span class="input-group-text col-4" id="dates-label">Status</span>
        <div class="card p-2 col-8">
          <select
            formControlName="statusID"
            id="statusSelect"
            name="statusSelect"
            class="form-control"
          >
            <option *ngFor="let status of statuses" [ngValue]="status.id">
              {{ status.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-text col-4" id="dates-label">Dates</span>
        <div class="card p-2 col-8">
          <label for="inputExpiryDate" class="form-label"> Expiry Date </label>
          <div class="input-group mb-1">
            <input
              class="form-control"
              placeholder="*not-set*"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
              formControlName="expirydate"
              id="inputExpiryDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <label for="inputJoinDate" class="form-label"> Join Date </label>
          <div class="input-group mb-1">
            <input
              class="form-control"
              placeholder="*not-set*"
              name="dp"
              ngbDatepicker
              #d1="ngbDatepicker"
              formControlName="joindate"
              id="inputJoinDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d1.toggle()"
                type="button"
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <label for="inputJoinDate" class="form-label"> Delete Date </label>
          <div class="input-group mb-1">
            <input
              class="form-control"
              placeholder=""
              name="dp"
              ngbDatepicker
              #d2="ngbDatepicker"
              formControlName="deletedate"
              id="inputJoinDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d2.toggle()"
                type="button"
                disabled
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-1">
      <div class="input-group mb-1">
        <span class="input-group-text col-4" id="GDPR-label">Business</span>
        <div class="card p-3 col-8">
          <label for="inputBusinessName">Business Name</label>
          <input
            type="text"
            class="form-control"
            id="inputBusinessName"
            formControlName="businessname"
          />
          <label for="inputJobTitle">Job Title</label>
          <input
            type="text"
            class="form-control"
            id="inputJobTitle"
            formControlName="title"
          />
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-text col-4" id="GDPR-label">GDPR</span>
        <div class="card p-3 col-8">
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_email"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Email
            </label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_tel"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Telephone
            </label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_address"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Address
            </label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_sm"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Social Media
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 mb-1">
      <div class="form-check">
        <input
          type="checkbox"
          formControlName="showSecondaryAdress"
          class="form-check-input"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Show Secondary Address
        </label>
      </div>
    </div>
    <div class="col-sm-6 mb-1"></div>
  </div>

  <div class="row">
    <div class="col-sm-6 mb-1">
      <div class="input-group">
        <span class="input-group-text col-4" id="pAddress-label">Primary</span>
        <div class="card p-3 col-8">
          <address-form
            formControlName="primaryAddress"
            [touched]="f.primaryAddress.touched"
            [address]="primaryAddress"
          ></address-form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-1">
      <div class="input-group" *ngIf="f.showSecondaryAdress.value">
        <span class="input-group-text col-4" id="sAddress-label"
          >Secondary</span
        >
        <div class="card p-3 col-8">
          <address-form
            formControlName="secondaryAddress"
            [touched]="f.secondaryAddress.touched"
            [address]="secondaryAddress"
          ></address-form>
        </div>
      </div>
      <div class="input-group" *ngIf="!f.showSecondaryAdress.value">
        <div class="input-group mb-1">
          <span class="input-group-text col-4" id="email1-label">Email 1</span>
          <input
            type="email"
            formControlName="email1"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email1.errors }"
          />
          <div *ngIf="submitted && f.email1.errors" class="invalid-feedback">
            <div *ngIf="f.email1.errors.email">Enter a valid email address</div>
          </div>
        </div>
        <div class="input-group mb-2">
          <span class="input-group-text col-4" id="email2-label">Email 2</span>
          <input
            type="email"
            formControlName="email2"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email2.errors }"
          />
          <div *ngIf="submitted && f.email2.errors" class="invalid-feedback">
            <div *ngIf="f.email2.errors.email">Enter a valid email address</div>
          </div>
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text col-4" id="phone1-label">Phone 1</span>
          <input
            type="text"
            formControlName="phone1"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phone1.errors }"
          />
          <div *ngIf="submitted && f.phone1.errors" class="invalid-feedback">
            <div *ngIf="f.phone1.errors.pattern">
              Only 0-9 and +/- or () allowed
            </div>
          </div>
        </div>
        <div class="input-group mb-2">
          <span class="input-group-text col-4" id="phone2-label">Phone 2</span>
          <input
            type="text"
            formControlName="phone2"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phone2.errors }"
          />
          <div *ngIf="submitted && f.phone2.errors" class="invalid-feedback">
            <div *ngIf="f.phone2.errors.pattern">
              Only 0-9 and +/- or () allowed
            </div>
          </div>
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text col-2">Note</span>
          <textarea
            class="form-control"
            aria-label="With textarea"
            formControlName="note"
          ></textarea>
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text col-2" id="basic-addon1">Bank Ref</span>
          <input
            type="text"
            class="form-control"
            formControlName="bankpayerref"
            aria-label="BankPayerRef"
            aria-describedby="basic-addon1"
            placement="bottom"
            ngbTooltip="The payment reference found on a bank statement. May be left blank."
          />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="f.showSecondaryAdress.value">
    <div class="row">
      <div class="col-sm-6 mb-1">
        <div class="input-group">
          <span class="input-group-text col-4" id="email1-label">Email 1</span>
          <input
            type="email"
            formControlName="email1"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email1.errors }"
          />
          <div *ngIf="submitted && f.email1.errors" class="invalid-feedback">
            <div *ngIf="f.email1.errors.email">Enter a valid email address</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-1">
        <div class="input-group">
          <span class="input-group-text col-4" id="email2-label">Email 2</span>
          <input
            type="email"
            formControlName="email2"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email2.errors }"
          />
          <div *ngIf="submitted && f.email2.errors" class="invalid-feedback">
            <div *ngIf="f.email2.errors.email">Enter a valid email address</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="f.showSecondaryAdress.value">
      <div class="col-sm-6 mb-1">
        <div class="input-group">
          <span class="input-group-text col-4" id="phone1-label">Phone 1</span>
          <input
            type="text"
            formControlName="phone1"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phone1.errors }"
          />
          <div *ngIf="submitted && f.phone1.errors" class="invalid-feedback">
            <div *ngIf="f.phone1.errors.pattern">
              Only 0-9 and +/- or () allowed
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-1">
        <div class="input-group">
          <span class="input-group-text col-4" id="phone2-label">Phone 2</span>
          <input
            type="text"
            formControlName="phone2"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phone2.errors }"
          />
          <div *ngIf="submitted && f.phone2.errors" class="invalid-feedback">
            <div *ngIf="f.phone2.errors.pattern">
              Only 0-9 and +/- or () allowed
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group mb-1">
      <span class="input-group-text col-2">Note</span>
      <textarea
        class="form-control"
        aria-label="With textarea"
        formControlName="note"
      ></textarea>
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text col-2" id="basic-addon1">Bank Ref</span>
      <input
        type="text"
        class="form-control"
        formControlName="bankpayerref"
        aria-label="BankPayerRef"
        aria-describedby="basic-addon1"
        placement="bottom"
        ngbTooltip="The payment reference found on a bank statement. May be left blank."
      />
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Save
    </button>
    <a class="btn btn-link" *ngIf="isMemberAdd" (click)="onReset()">Reset</a>
    <a routerLink="/members" class="btn btn-link">Cancel</a>
  </div>
  <hr />
  <p>Form Value: {{ form.value | json }}</p>
  <p>Form Status: {{ form.status | json }}</p>
</form>
