<th scope="row">{{member.name}}</th>
<td>{{member.membershiptype}}</td>
<td>{{member.businessname}}</td>
<td>{{member.email}}</td>
<td style="white-space: nowrap">
    <button routerLink="edit/{{member.id}}" class="btn btn-sm btn-primary mr-1" [disabled]="member.isUpdating">
        <span *ngIf="member.isUpdating" class="spinner-border spinner-border-sm"></span>
        <span *ngIf="!member.isUpdating">Edit</span>
    </button>
    <button (click)="deleteMember($event)" class="btn btn-sm btn-danger btn-delete-member" [disabled]="member.isDeleting">
        <span *ngIf="member.isDeleting" class="spinner-border spinner-border-sm"></span>
        <span *ngIf="!member.isDeleting">Delete</span>
    </button>
</td>