@if (isUserAdd) {
  <h1>Add User</h1>
}
@if (isUserEdit) {
  <h1>Edit User</h1>
}
@if (isUserProfile) {
  <h1>Profile</h1>
}
@if (loading) {
  <div>
    <span class="spinner-border spinner-border-lg align-center"></span>
  </div>
}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-7">
      <label>Username</label>
      <!-- Autocomplete from https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element -->
      <!-- Also see https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete -->
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        autocomplete="username"
        />
      @if (submitted && f.username.errors) {
        <div class="invalid-feedback">
          @if (f.username.errors.required) {
            <div>Username is required</div>
          }
        </div>
      }
    </div>
    <div class="form-group col">
      <label>Role</label>
      <select
        formControlName="role"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
        >
        <option value=""></option>
        <option value="User">User</option>
        @if (apiUser.isAdmin) {
          <option value="Admin">Admin</option>
        }
      </select>
      @if (submitted && f.role.errors) {
        <div class="invalid-feedback">
          @if (f.role.errors.required) {
            <div>Role is required</div>
          }
        </div>
      }
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-7">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullname"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
        />
      @if (submitted && f.fullname.errors) {
        <div class="invalid-feedback">
          @if (f.fullname.errors.required) {
            <div>Full Name is required</div>
          }
        </div>
      }
    </div>
    <div class="form-group col">
      <div class="row justify-content-center"><label>Suspended</label></div>
      @if (f.suspended.value) {
        <input
          type="checkbox"
          checked
          class="form-control"
          />
      }
      @if (!f.suspended.value) {
        <input type="checkbox" class="form-control" />
      }
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-7">
      <label ngbTooltip="Used in 'Reply-To' field">Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
      @if (submitted && f.email.errors) {
        <div class="invalid-feedback">
          @if (f.email.errors.email) {
            <div>Enter a valid email address</div>
          }
        </div>
      }
    </div>
    <div class="form-group col">
      <label ngbTooltip="Used in email signature">Title</label>
      <input type="text" formControlName="title" class="form-control" />
    </div>
  </div>
  @if (!isUserAdd) {
    <div>
      <h3 class="pt-3">Change Password</h3>
      <p>Leave blank to keep the same password</p>
    </div>
  }
  <div class="form-row">
    <div class="form-group col">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        autocomplete="new-password"
        />
      <div id="passwordHelpBlock" class="form-text">
        Your password must be 8-20 characters long, contain letters and numbers,
        and must not contain spaces or emoji.
      </div>
      @if (submitted && f.password.errors) {
        <div class="invalid-feedback">
          @if (f.password.errors.required) {
            <div>Password is required</div>
          }
          @if (f.password.errors.minlength) {
            <div>
              Password must be at least 8 characters
            </div>
          }
        </div>
      }
    </div>
    <div class="form-group col">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
        autocomplete="new-password"
        />
      @if (submitted && f.confirmPassword.errors) {
        <div
          class="invalid-feedback"
          >
          @if (f.confirmPassword.errors.required) {
            <div>
              Confirm Password is required
            </div>
          }
          @if (f.confirmPassword.errors.mustMatch) {
            <div>
              Passwords must match
            </div>
          }
        </div>
      }
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      @if (loading) {
        <span
          class="spinner-border spinner-border-sm mr-1"
        ></span>
      }
      Save
    </button>
    <a (click)="onCancel()" class="btn btn-link">Cancel</a>
  </div>
</form>
