<div class="row">
  <div class="col-sm-6"><h1>Users</h1></div>
  <div class="col-sm-2">
    @if (user.isAdmin) {
      <button routerLink="add" class="btn btn-sm btn-success m-1 mt-1">
        Add New User
      </button>
    }
  </div>
</div>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Role</th>
      <th>Suspended</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (myUser of users; track myUser) {
      <tr
        user-row
        [user]="myUser"
        (onUserDeleted)="userWasDeleted($event)"
        routerLink="edit/{{ myUser.id }}"
        id="user-row-{{ myUser.id }}"
      ></tr>
    }
    @if (!users) {
      <tr>
        <td colspan="5" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
