<td>{{ user.fullname }}</td>
<td>{{ user.username }}</td>
<td>
  <select (change)="onRoleChange($event)" (click)="onClickEvent($event)">
    @for (role of roles; track role) {
      <option [ngValue]="role" [selected]="role === user.role">
        {{ roles2[role] }}
      </option>
    }
  </select>
</td>
<td class="text-center">
  <div>
    @if (user.suspended) {
      <div
        (change)="onSuspendedChange()"
        (click)="onClickEvent($event)"
        class="form-check"
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="flexCheckCheckedDisabled"
          checked
        />
      </div>
    }
    @if (!user.suspended) {
      <div
        (change)="onSuspendedChange()"
        (click)="onClickEvent($event)"
        class="form-check"
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="flexCheckDisabled"
        />
      </div>
    }
  </div>
</td>
<td style="white-space: nowrap">
  <button
    routerLink="edit/{{ user.id }}"
    class="btn btn-sm btn-primary mr-1"
    [disabled]="user.isUpdating"
  >
    @if (user.isUpdating) {
      <span class="spinner-border spinner-border-sm"></span>
    }
    @if (!user.isUpdating) {
      <span>Edit</span>
    }
  </button>
  <button
    (click)="deleteUser($event)"
    class="btn btn-sm btn-danger btn-delete-user"
    [disabled]="user.isDeleting"
  >
    @if (user.isDeleting) {
      <span class="spinner-border spinner-border-sm"></span>
    }
    @if (!user.isDeleting) {
      <span>Delete</span>
    }
  </button>
</td>
