<div class='container'>
    <div class="page-header">
      <h1>Members
        <img
          style="float: right;"
          *ngIf="loading"
          src='assets/images/loading.gif' />
      </h1>
    </div>

    <div class="row">
      <div class="input-group input-group-lg col-md-12">
        <member-search-box
           (loading)="loading = $event"
           (results)="updateResults($event)"
            ></member-search-box>
      </div>
    </div>

    <div class="row">
      <member-search-result
        *ngFor="let result of results"
        [member]="result">
      </member-search-result>
    </div>
</div>
