<h1 *ngIf="isMemberAdd">Add Member</h1>
<h1 *ngIf="isMemberEdit">Edit Member</h1>
<div *ngIf="loading">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loading">
  <!-- Buttons -->
  <div class="col-sm-6 d-flex justify-content-between">
    <div class="form-group">
      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Save
      </button>
      <a class="btn btn-link" *ngIf="isMemberAdd" (click)="onReset()">Reset</a>
      <a routerLink="/members" class="btn btn-link">Cancel</a>
    </div>
    <div *ngIf="isMemberEdit">
      <a
        *ngIf="f['statusID'].value !== 9"
        class="btn btn-link"
        (click)="onSetToFormer()"
        >Set to 'Former'</a
      >
      <button
        *ngIf="
          f['statusID'].value === 9 &&
          namesFormGroups &&
          namesFormGroups[0].value.surname !== 'Anonymized'
        "
        type="button"
        [disabled]="loading"
        class="btn btn-warning mr-1"
        (click)="onAnonymize()"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Anonymize
      </button>
      <button
        *ngIf="f['statusID'].value === 9"
        type="button"
        [disabled]="loading"
        class="btn btn-danger"
        (click)="onDelete()"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Delete
      </button>
    </div>
  </div><!-- End of Buttons -->

  <small *ngIf="f.username.value"
    >Last edited by: {{ f.username.value }} at {{ f.updatedate.value }}</small
  >

  <div class="row mb-1">
    <!-- Names -->
    <div
      *ngFor="let name of namesFormGroups; let i = index"
      class="list-group list-group-flush col-sm-6 mb-1"
    >
      <div class="list-group-item ml-3">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">Name {{ i + 1 }}</h5>
          <div class="mr-1">
            <button
              type="button"
              [disabled]="loading"
              class="mr-3"
              (click)="onAddName()"
              placement="bottom"
              ngbTooltip="Add new name"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              +
            </button>
            <button
              *ngIf="i !== 0"
              type="button"
              class="close"
              (click)="onRemoveName(i)"
              placement="bottom"
              ngbTooltip="Remove name"
            >
              <span>&times;</span>
            </button>
          </div>
        </div>
        <div [formGroup]="name" class="form-row">
          <div class="form-group col">
            <label>Honorific</label>
            <input
              type="text"
              formControlName="honorific"
              class="form-control text-right"
            />
          </div>
          <div class="form-group col">
            <label>First Name</label>
            <input
              type="text"
              formControlName="firstname"
              class="form-control text-right"
            />
          </div>
          <div class="form-group col">
            <label>Surname</label>
            <input
              type="text"
              formControlName="surname"
              class="form-control text-right"
              [ngClass]="{
                'is-invalid': submitted && name.controls.surname.errors
              }"
            />
            <div
              *ngIf="submitted && name.controls.surname.errors"
              class="invalid-feedback"
            >
              <div *ngIf="ticket.controls.surname.errors.required">
                Surname is required
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Names-->

    <!-- Status (aka Membership type), Note & Bank Ref -->
    <div class="col-sm-6 mb-1">
      <div class="input-group mb-1">
        <span class="input-group-text col-4" id="dates-label">Status</span>
        <div class="card p-2 col-8">
          <select
            formControlName="statusID"
            id="statusSelect"
            name="statusSelect"
            class="form-control"
          >
            <option *ngFor="let status of statuses" [ngValue]="status.id">
              {{ status.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text col-2">Note</span>
        <textarea
          class="form-control"
          aria-label="With textarea"
          formControlName="note"
          placement="bottom"
          ngbTooltip="1000 character limit."
        ></textarea>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text col-2" id="basic-addon1">Bank Ref</span>
        <input
          type="text"
          class="form-control"
          formControlName="bankpayerref"
          aria-label="BankPayerRef"
          aria-describedby="basic-addon1"
          placement="bottom"
          ngbTooltip="The payment reference found on a bank statement. May be left blank."
        />
      </div>
    </div>
    <!--End of Status, Note & Bank Refo-->

    <!-- Business info-->
    <div class="col-sm-6 mb-1">
      <div class="input-group">
        <span class="input-group-text col-4" id="business-label">Business</span>
        <div class="card p-3 col-8">
          <label for="inputBusinessName">Business Name</label>
          <input
            type="text"
            class="form-control"
            id="inputBusinessName"
            formControlName="businessname"
          />
          <label for="inputJobTitle">Job Title</label>
          <input
            type="text"
            class="form-control"
            id="inputJobTitle"
            formControlName="title"
          />
        </div>
      </div>
    </div>
    <!-- End of Business info-->

    <!-- GDPR -->
    <div class="col-sm-6 mb-1">
      <div class="input-group">
        <span class="input-group-text col-4" id="GDPR-label">GDPR</span>
        <div class="card p-3 col-8">
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_email"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Email
            </label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_tel"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Telephone
            </label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_address"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Address
            </label>
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              formControlName="gdpr_sm"
              class="form-check-input"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Social Media
            </label>
          </div>
        </div>
      </div>
    </div>
    <!--End of GDPR-->

    <!-- Emails & Phones-->
    <div class="col-sm-6 mb-1">
      <div class="input-group mb-1">
        <span class="input-group-text col-4" id="email1-label">Email 1</span>
        <input
          type="email"
          formControlName="email1"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email1.errors }"
        />
        <div *ngIf="submitted && f.email1.errors" class="invalid-feedback">
          <div *ngIf="f.email1.errors.email">Enter a valid email address</div>
        </div>
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text col-4" id="email2-label">Email 2</span>
        <input
          type="email"
          formControlName="email2"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email2.errors }"
        />
        <div *ngIf="submitted && f.email2.errors" class="invalid-feedback">
          <div *ngIf="f.email2.errors.email">Enter a valid email address</div>
        </div>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text col-4" id="phone1-label">Phone 1</span>
        <input
          type="text"
          formControlName="phone1"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone1.errors }"
        />
        <div *ngIf="submitted && f.phone1.errors" class="invalid-feedback">
          <div *ngIf="f.phone1.errors.pattern">
            Only 0-9 and +/- or () allowed
          </div>
        </div>
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text col-4" id="phone2-label">Phone 2</span>
        <input
          type="text"
          formControlName="phone2"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone2.errors }"
        />
        <div *ngIf="submitted && f.phone2.errors" class="invalid-feedback">
          <div *ngIf="f.phone2.errors.pattern">
            Only 0-9 and +/- or () allowed
          </div>
        </div>
      </div>
    </div>
    <!-- End of Emails & Phones-->

    <!-- Dates (expiry, join & delete)-->
    <div class="col-sm-6 mb-1">
      <div class="input-group">
        <span class="input-group-text col-4" id="dates-label">Dates</span>
        <div class="card p-3 col-8">
          <label for="inputJoinDate" class="form-label"> Join Date </label>
          <div class="input-group mb-1">
            <input
              class="form-control"
              placeholder="*not-set*"
              name="dp"
              ngbDatepicker
              #d1="ngbDatepicker"
              formControlName="joindate"
              id="inputJoinDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d1.toggle()"
                type="button"
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <label for="inputExpiryDate" class="form-label"> Expiry Date </label>
          <div class="input-group mb-1">
            <input
              class="form-control"
              placeholder="*not-set*"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
              formControlName="expirydate"
              id="inputExpiryDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <label for="inputJoinDate" class="form-label"> Delete Date </label>
          <div class="input-group mb-1">
            <input
              class="form-control"
              placeholder=""
              name="dp"
              ngbDatepicker
              #d2="ngbDatepicker"
              formControlName="deletedate"
              id="inputJoinDate"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d2.toggle()"
                type="button"
                disabled
              >
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Dates-->

    <!-- Show Primary Address-->
    <div class="col-sm-6 mb-1">
      <div class="input-group">
        <span class="input-group-text col-4" id="pAddress-label">Primary</span>
        <div class="card p-3 col-8">
          <address-form
            formControlName="primaryAddress"
            [touched]="f.primaryAddress.touched"
            [address]="primaryAddress"
          ></address-form>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-1">
      <div class="form-check">
        <input
          type="checkbox"
          formControlName="showSecondaryAdress"
          class="form-check-input"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Show Secondary Address
        </label>
      </div>

      <div class="input-group" *ngIf="f.showSecondaryAdress.value">
        <span class="input-group-text col-4" id="sAddress-label"
          >Secondary</span
        >
        <div class="card p-3 col-8">
          <address-form
            formControlName="secondaryAddress"
            [touched]="f.secondaryAddress.touched"
            [address]="secondaryAddress"
          ></address-form>
        </div>
      </div>
    </div>


  </div><!-- End of Row-->

  <!--Debug Information for Testing -->
  <hr />
  <p>Form Value: {{ form.value | json }}</p>
  <p>Form Status: {{ form.status | json }}</p>
</form>
