<div class="modal-header justify-content-between">
  <h4 class="modal-title" id="modal-title">Add Transaction</h4>
  <button
    type="button"
    class="close rounded-corners"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    Close <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <transaction-add-edit
    [member]="member"
    [mostRecentTransaction]="lastTransaction"
    (reloadRequested)="onReloadRequested($event)"
  ></transaction-add-edit>
</div>
