RewriteEngine On
RewriteBase /api/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
Options -Indexes
#Workaround for missing Authorization header under CGI/FastCGI Apache:
#From http://docs.php.net/manual/en/features.http-auth.php#114877
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0