<div>
  <div class="mb-3" *ngIf="!address||!address.postcode" >
    <a class="text-primary" (click)="showFormFields = !showFormFields"
      >Enter address manually</a
    >
  </div>
  <div class="mb-3" *ngIf="!address||!address.postcode">
    <label class="form-label">Find address by postcode:</label>
    <address-search-box
      (loading)="loading = $event"
      (results)="updateAddresses($event)"
      [disable]="false"
    >
    </address-search-box>
  </div>
  <select
    class="col mb-2"
    *ngIf="addresses"
    [(ngModel)]="selectedAddress"
    (ngModelChange)="onAddressChange($event)"
    name="selectedAddress"
  >
    <option disabled selected [ngValue]="null">-- select an option --</option>
    <option *ngFor="let address of addresses" [ngValue]="address">
      {{ address.line1 }}
    </option>
  </select>
</div>
<form [formGroup]="addressForm">
  <div *ngIf="showFormFields">
    <div class="mb-2">
      <label for="inputAddressLine1" class="form-label">Line 1 *</label>
      <input
        type="text"
        formControlName="addressfirstline"
        class="form-control"
        id="inputAddressLine1"
        [ngClass]="{ 'is-invalid': submitted && f.addressfirstline.errors }"
      />
      <div *ngIf="submitted && f.addressfirstline.errors" class="invalid-feedback">
        <div *ngIf="f.addressfirstline.errors.required">Line 1 is required</div>
      </div>
    </div>
    <div class="mb-2">
      <label>Line 2</label>
      <input type="text" formControlName="addresssecondline" class="form-control" />
    </div>
    <div class="mb-2">
      <label>City *</label>
      <input
        type="text"
        formControlName="city"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
      />
      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required">City is required</div>
      </div>
    </div>
    <div class="mb-2">
      <label>County</label>
      <input type="text" formControlName="county" class="form-control" />
    </div>
    <div class="mb-2">
      <label>Postcode *</label>
      <input
        type="text"
        formControlName="postcode"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.postcode.errors }"
      />
      <div *ngIf="submitted && f.postcode.errors" class="invalid-feedback">
        <div *ngIf="f.postcode.errors.required">Postcode is required</div>
      </div>
    </div>
    <label>Country *</label>
    <select
      formControlName="country"
      id="countrySelect"
      name="countrySelect"
      class="form-control"
    >
      <option disabled selected [ngValue]="null">Select</option>
      <option *ngFor="let country of countries" [ngValue]="country.id">
        {{ country.name }}
      </option>
    </select>
  </div>
</form>
